@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Playfair+Display&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.pulsing {
  animation-name: pulse;
  animation-duration: 2s;
  z-index: 0;
}

@keyframes pulse {
  0% {
    transform: scale(0.55);
  }
  50% {
    transform: scale(1);
  }
}

.slide-in {
  animation-name: slideUp;
  animation-duration: 1s;
  z-index: 0;
  animation-timing-function: ease-in-out;
}

@keyframes slideUp {
  0% {
    transform: translateY(10%);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.poppins {
  font-family: "Poppins";
}

.open {
  font-family: "Open Sans", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

.fira {
  font-family: "Fira Code", monospace;
}
